.admin-navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .admin-navbar-icon-badge {
    position: relative;
    display: inline-block;

    .badge {
      position: absolute;
      top: -13px;
      right: -10px;
      font-size: 9px;
    }
  }

  .navbar-nav > .nav-item > .nav-link-icon-badge {
    padding-right: 18px !important;
    padding-left: 18px !important;
  }
}

// Main

.admin-main {
  .admin-main-content {
    padding: 1rem;
  }
}
