.auth-page {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-auth {
  padding: $form-auth-padding;
  margin: 0 auto;
  background-color: $form-auth-bg-color;
  border: $form-auth-border-width solid $form-auth-border-color;
  box-shadow: $form-auth-box-shadow;

  &.form-auth-sm {
    max-width: $form-auth-sm-max-width;
  }
  &.form-auth-md {
    max-width: $form-auth-md-max-width;
  }
  &.form-auth-lg {
    max-width: $form-auth-lg-max-width;
  }

  .form-auth-heading {
    margin-bottom: 15px;
    text-align: center;
  }
}
