.banner {
  background-color: #0f61a8;

  .banner-title {
    font-size: 2rem;
    color: #fff;
    text-align: center;

    @include media-breakpoint-up(md) {
      font-size: 4rem;
      text-align: left;
    }
  }

  .banner-description {
    font-size: 1rem;
    color: #fff;
    text-align: center;

    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
      text-align: left;
    }
  }

  p {
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  .banner-image {
    width: 100%;
    height: auto;
  }

  .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
  }
}
