.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer-title {
  margin-bottom: 1.5rem;
}

.footer-nav {
  margin-bottom: 1rem;

  .footer-nav-link {
  	display: block;
  	padding: .25rem 0;
  }

  hr {
  	height: 1px;
  	margin: .25rem 0;
  	border: 0;
  	background-image: linear-gradient(90deg, rgba(255,255,255,.25), transparent);
  }
}

.footer-links {
  padding-left: 0;
  margin-bottom: 1rem;
  list-style: none;

  li {
    display: inline-block;
  }
  li:not(:last-child) {
    margin-right: 5px;
  }
}

.footer-description {
  p:last-child {
    margin-bottom: 0;
  }
}

// Theme

.footer {
  color: #fff;
  background-color: #222;

  + .footer {
    background-color: #151515;
  }

  a {
    color: #aaa;
  	text-decoration: none;

  	@include hover-focus {
  	  color: #fff;
  	  text-decoration: none;
  	}
  }

  .footer-title {
    color: #aaa;
  }

  .footer-nav {
    .footer-nav-link {
      color: #aaa;
  	  text-decoration: none;

  	  @include hover-focus {
    		color: #fff;
    		text-decoration: none;
  	  }
  	}
  }

  .footer-links {
	a {
	  color: #aaa;
	  text-decoration: none;

	  @include hover-focus {
  		color: #fff;
  		text-decoration: none;
  	  }
  	}
  }

  .footer-description {
	color: #fff;

    a {
      color: #aaa;
  	  text-decoration: none;

  	  @include hover-focus {
  	    color: #fff;
  	    text-decoration: none;
  	  }
    }
  }
}
