//
// Navmenu
//

.navmenu {
  padding: $navmenu-padding-y $navmenu-padding-x;
  border: $navmenu-border-width solid $navmenu-border-color;
}

// Fixed

.navmenu-fixed-right,
.navmenu-fixed-left {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: $zindex-fixed;
  overflow-y: auto;
}
.navmenu-fixed-right {
  right: 0;
  border-width: 0 0 0 $navmenu-border-width;
}
.navmenu-fixed-left {
  left: 0;
  border-width: 0 $navmenu-border-width 0 0;
}

// Brand

.navmenu-brand {
  display: block;
  padding: $navmenu-brand-padding-y $navmenu-brand-padding-x;
  margin-right: -$navmenu-padding-x;
  margin-left: -$navmenu-padding-x;
  font-size: $navmenu-brand-font-size;
  line-height: inherit;

  @include hover-focus {
    text-decoration: none;
  }
}

// Nav

.navmenu-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-right: -$navmenu-padding-x;
  margin-bottom: 0;
  margin-left: -$navmenu-padding-x;
  list-style: none;
}

.navmenu-nav .nav-link {
  display: block;
  padding: $navmenu-link-padding-y $navmenu-link-padding-x;

  @include hover-focus {
    text-decoration: none;
  }

  &.nav-link-sm {
    padding: $navmenu-link-sm-padding-y $navmenu-link-sm-padding-x;
  }
}

.navmenu-nav .nav-item-bordered {
  border-bottom: 1px solid transparent;

  &:first-child {
    border-top: 1px solid transparent;
  }
}

.navmenu-nav .nav-link-collapse.collapsed {
  // Generate the caret automatically
  &::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: $caret-width * .85;
    vertical-align: middle;
    content: "";
    border-top: $caret-width solid;
    border-right: $caret-width solid transparent;
    border-left: $caret-width solid transparent;
  }

  &:empty::after {
    margin-left: 0;
  }
}
.navmenu-nav .nav-link-collapse:not(.collapsed) {
  // Generate the caret automatically
  &::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: $caret-width * .85;
    vertical-align: middle;
    content: "";
    border-top: 0;
    border-right: $caret-width solid transparent;
    border-bottom: $caret-width solid;
    border-left: $caret-width solid transparent;
  }

  &:empty::after {
    margin-left: 0;
  }
}

// Headers

.navmenu-header {
  display: block;
  padding-right: $navmenu-padding-x;
  padding-left: $navmenu-padding-x;
  margin-right: -$navmenu-padding-x;
  margin-bottom: $navmenu-header-margin-bottom;
  margin-left: -$navmenu-padding-x;
}

// Content

.navmenu-content {
  padding-right: $navmenu-padding-x;
  padding-left: $navmenu-padding-x;
  margin-right: -$navmenu-padding-x;
  margin-left: -$navmenu-padding-x;
}

// Dividers

.navmenu-divider {
  display: block;
  height: 0;
  margin-right: -$navmenu-padding-x;
  margin-left: -$navmenu-padding-x;
  overflow: hidden;
  border-top: 1px solid transparent;
}

// Spacer

.navmenu-nav + .navmenu-nav,
.navmenu-nav + .navmenu-header,
.navmenu-nav + .navmenu-content,
.navmenu-content + .navmenu-nav,
.navmenu-content + .navmenu-header,
.navmenu-content + .navmenu-content {
  margin-top: $navmenu-spacer-y;
}

.navmenu-brand + .navmenu-nav,
.navmenu-brand + .navmenu-header,
.navmenu-brand + .navmenu-content {
  margin-top: ($navmenu-spacer-y / 2);
}

.navmenu-divider {
  margin-top: $navmenu-spacer-y;
  margin-bottom: $navmenu-spacer-y;
}

// Responsive navmenu

// Generate series of `.navmenu-expand-*` responsive classes.
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @if $infix != "" {
      .navmenu-expand#{$infix} {
        .navmenu-toggler {
          display: none;
        }
        .navmenu-collapse {
          display: block;
        }
      }
    }
  }
}

// Themes

// Dark links against a light background
.navmenu-light {
  .navmenu-brand {
    color: $navmenu-light-active-color;

    @include hover-focus {
      color: $navmenu-light-active-color;
    }
  }

  .navmenu-nav {
    .nav-link {
      color: $navmenu-light-color;

      @include hover-focus {
        color: $navmenu-light-hover-color;
      }

      &.disabled {
        color: $navmenu-light-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active,
    .nav-link-collapse:not(.collapsed) {
      color: $navmenu-light-active-color;
    }

    .nav-item-bordered {
      border-color: $navmenu-light-item-border-color;
    }

    .nav-item-hover:hover {
      background-color: $navmenu-light-item-hover-color;
      border-color: transparent;
    }
  }

  .navmenu-header {
    color: $navmenu-light-header-color;
  }

  .navmenu-divider {
    border-color: $navmenu-light-divider-border-color;
  }
}

// White links against a dark background
.navmenu-dark {
  .navmenu-brand {
    color: $navmenu-dark-active-color;

    @include hover-focus {
      color: $navmenu-dark-active-color;
    }
  }

  .navmenu-nav {
    .nav-link {
      color: $navmenu-dark-color;

      @include hover-focus {
        color: $navmenu-dark-hover-color;
      }

      &.disabled {
        color: $navmenu-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active,
    .nav-link-collapse:not(.collapsed) {
      color: $navmenu-dark-active-color;
    }

    .nav-item-bordered {
      border-color: $navmenu-dark-item-border-color;
    }

    .nav-item-hover:hover {
      background-color: $navmenu-dark-item-hover-color;
      border-color: transparent;
    }
  }

  .navmenu-header {
    color: $navmenu-dark-header-color;
  }

  .navmenu-divider {
    border-color: $navmenu-dark-divider-border-color;
  }
}
